# Example tfvars — copy to terraform.tfvars and fill in values
# NEVER commit terraform.tfvars to Git

do_token     = "dop_v1_your_token_here"
region       = "atl1"
cluster_name = "jaimsnet-cluster"
k8s_version  = "1.34.1-do.0"
